body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}

@media(max-width:400px) {
    .container {
        width: 100%;
        margin-top: 10%;
        
    }
}

@media (max-width: 600px) {

    .container {
        width: 100%;
    }
}

.core-section1 h1 {
    margin-top: 10vh;
    padding: 60px;
    background: linear-gradient(rgba(255, 140, 0, 0.7), rgba(255, 69, 0, 0.7)), 
                url("assets/img/tavol/crane1.jpg") center/cover no-repeat;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
}

.core-section2 h1 {
    margin-top: 10vh;
    padding: 60px;
    background: linear-gradient(rgba(0, 123, 255, 0.7), rgba(0, 191, 255, 0.7)), 
                url("assets/img/tavol/hoist1.jpg") center/cover no-repeat;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
}

.core-section3 h1 {
    margin-top: 10vh;
    padding: 60px;
    background: linear-gradient(rgba(40, 167, 69, 0.7), rgba(0, 128, 0, 0.7)), 
                url("assets/img/tavol/safety1.jpg") center/cover no-repeat;
    text-align: center;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
}

.core {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.core-headers1 {
    color: #fff;
    font-size: 2.5rem;
}
